html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Courier';
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    padding: 1vh;
    text-align: center;
    background-color: black;
    color: white;
}

.home {
    text-decoration: none;
    color: white;
}

.home:hover {
    text-decoration: underline;
}

.table-of-contents {
    
    margin: 10vh;
}

.content {
    
    text-align: center;
}

.container {
    text-align: center;
}

.project {
    margin: 10vh;
    width: 50%;
    height: 99vh;
    display: inline-block;
    background-color: lightgray;
    border-radius: 5px;
    border-color: black;
    border-style: outset;
}
