body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    padding: 1vh;
    text-align: center;
    background-color: black;
    color: white;
}

.home {
    text-decoration: none;
    color: white;
}

.container {
    text-align: center;
}

.project {
    margin: 10vh;
    width: 50%;
    height: 100vh;
    display: inline-block;
    background-color: lightgray;
    border-radius: 5px;
    border-color: black;
    border-style: outset;
}
