html {
    scroll-behavior: smooth;
    overscroll-behavior: unset;
}

body {
    font-family: 'Arial';
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    background-color: rgb(82, 135, 233);
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-style: outset;
    color: rgb(255, 255, 255);
}

.home {
    float: left;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.home:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: center;
}

.container {
    display: inline-block;
    margin: 5vh;
    padding: 1px;
    background-color: #438ee4;
    border-radius: 10px;
}

.mudkip {
    display: inline-block;
    margin: 1vh;
    padding: 1vh;
    background-color: #87bcf8;
    border-radius: 10px;
}

.mud {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
}

.col {
    margin: 1vh;
    padding: 1vh;
    background-color: white;
    border-radius: 10px;
}

.pic {
    margin: 1vh 0vh;
    background-color: white;
    border-radius: 10px;
}

.type {
    text-align: center;
    display: block;
    margin: 1vh;
    padding: 1vh;
    background-color: #87bcf8;
    border-radius: 10px;
}

.water {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.water p {
    padding: 0px 20px;
    background-color: rgb(45, 127, 221);
    color: white;
    border-radius: 5px;
}

.abilities {
    text-align: center;
    display: block;
    margin: 1vh;
    padding: 1vh;
    background-color: #87bcf8;
    border-radius: 10px;
}

.attack {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
}

.second {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.height {
    width: 100%;
    text-align: center;
    display: block;
    margin: 1vh;
    padding: 1vh;
    background-color: #87bcf8;
    border-radius: 10px;
}

.weight {
    width: 100%;
    text-align: center;
    display: block;
    margin: 1vh;
    padding: 1vh;
    background-color: #87bcf8;
    border-radius: 10px;
}

.measure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
}

.description {
    margin: 5vh;
    padding: 5vh;
    border-radius: 10px;
}

.des {
    font-family: monospace;
    padding: 3vh;
    background-color: rgb(143, 189, 243);
    border-radius: 10px;
    border-style: ridge;
}

.description img {
    width: 50%;
}