h1 {
    font-family: Courier;
}

body {
    font-family: 'Courier';
    justify-content: center;
    align-items: center;
    margin: 0;
}

header {
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    background-color: rgb(150, 206, 243);
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    border-style: outset;
    color: rgb(182, 140, 3);
}

.home {
    float: left;
    text-decoration: none;
    color: rgb(182, 140, 3);
}

.home:hover {
    text-decoration: underline;
}

.grid {
    margin: 5dvh;
    border-color: black;
    border-style: dotted;
    border-radius: 5em;
    display: grid;
    grid-template-areas:
    'pic personal-info'
    'skills education';
    gap: 5px;
    padding: 50px;
}

.grid-container > div {
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}

.pic {
    height: 20em;
    width: 20em;
}

.personal-info {
    padding-top: 10em;
    grid-template-areas: personal-info;
    text-align: left;
    padding-left: 5em;
}

.education  {
    padding-top: 5em;
    grid-area: education;
    text-align: left;
    padding-left: 5em;
}

.sides {
    padding-top: 5em;
    text-align: left;
    padding-left: 3em;
}